@model HomeViewModel

@if(!string.IsNullOrEmpty(ViewData["TryCatchError"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["TryCatchError"]?.ToString()
    </div>
}
else
{
<div id="profileImageAndContactTextContainer" class="infoContainerLight">
    <img src="@Model.ProfileImageUrl" id="profileImage" />
        <div id="contactTable">
            @{var i = 0;}
            @foreach(var contact in Model.ContactInfoList)
            {
                <div class="twoColumnRowLight @(i == 0 ? "firstRow" : "")">
                    <div class="twoColumnRowCol1">@contact.Key</div>
                    @if(contact.Value.Contains(".com") && !contact.Key.Contains("Email"))
                    {
                        <div class="twoColumnRowCol2"><a href="https://www.@contact.Value" target="_blank">@contact.Value</a></div>
                    }
                    else
                    {
                        <div class="twoColumnRowCol2">@contact.Value</div>
                    }
                </div>
                i+=1;
            }
        </div>
</div>
<div id="bioTextContainer" class="infoContainerLight">
    <div id="bioText" class="textLight">@Html.Raw(Model.BioText)</div>
</div>
}