@model PortfolioViewModel

@if(!string.IsNullOrEmpty(ViewData["TryCatchError"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["TryCatchError"]?.ToString()
    </div>
}
else
{
    <div class="greyedOutBackground"></div>

    <div class="container">
        <div class="row g-0">
        @foreach(var project in Model.Projects)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="projectContainer infoContainerLight">
                    @if(project.ScreenshotUrls.Any())
                    {
                        <img src="@project.ScreenshotUrls[0]" />
                    }
                    <h1 class="textLight">@project.Title</h1>
                    <p class="textLight">@project.Summary</p>
                    <div class="projectLinkButtons">
                        @if(!string.IsNullOrEmpty(project.GitHubLink))
                        {
                            <a href="@project.GitHubLink" target="_blank">
                                <div class="aaButtonLight">
                                GH
                                </div>
                            </a>
                        }
                        @if(!string.IsNullOrEmpty(project.WebLink))
                        {
                            <a href="@project.WebLink" target="_blank">
                                <div class="aaButtonLight">
                                WL
                                </div>
                            </a>
                        }
                    </div>
                    <div class="aaButtonLight projectFullscreenButton">
                        FS
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

    @foreach(var project in Model.Projects)
    {
        <div class="projectWindow projectWindowLight">
            <div class="projectWindowHeader headerLight">
                @project.Title
                <div id="closeProjectWindow" class="aaButtonLight closeProjectButton">X</div>
            </div>
            <div class="projectContent projectContentLight">
                <p>@project.FullDescription</p>
                @if(!string.IsNullOrEmpty(project.WebLink))
                {
                    <p>Project website: <a href="@project.WebLink" target="_blank">@project.WebLink</a></p>
                }
                @if(!string.IsNullOrEmpty(project.GitHubLink))
                {
                    <p>Project GitHub link: <a href="@project.GitHubLink" target="_blank">@project.GitHubLink</a></p>
                }
                <div class="projectContentImages">
                    @foreach(var imageUrl in project.ScreenshotUrls)
                    {
                        <img src="@imageUrl" />
                    }
                </div>
            </div>
        </div>
    }
}