@model PortfolioViewModel

@if(!string.IsNullOrEmpty(ViewData["TryCatchError"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["TryCatchError"]?.ToString()
    </div>
}
else
{
    <div class="greyedOutBackground" id="projectWindowGreyedOutBackground"></div>

    <div class="container">
        <div class="row g-0">
        @{ int i = 0; }
        @foreach(var project in Model.Projects)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="projectContainer infoContainerLight">
                    @if(project.ScreenshotUrls.Any())
                    {
                        <img src="@project.ScreenshotUrls[0]" />
                    }
                    <h1 class="textLight">@project.Title</h1>
                    <p class="textLight">@project.Summary</p>
                    <div class="projectLinkButtons">
                        @if(!string.IsNullOrEmpty(project.GitHubLink))
                        {
                            <a href="@project.GitHubLink" target="_blank">
                                <div class="aaButtonLight projectLinkButton" title="Project GitHub link">
                                    <img src="icons/githubLight.svg" alt="Project GitHub link" />
                                </div>
                            </a>
                        }
                        @if(!string.IsNullOrEmpty(project.WebLink))
                        {
                            <a href="@project.WebLink" target="_blank">
                                <div class="aaButtonLight projectLinkButton" title="Project website link">
                                    <img src="icons/globeLight.svg" alt="Project website link" />
                                </div>
                            </a>
                        }
                    </div>
                    <div class="aaButtonLight projectFullscreenButton" onclick="openProjectFullscreen(@i)" title="Project fullscreen button">
                        <img src="icons/fullscreenLight.svg" alt="Project fullscreen button" />
                    </div>
                </div>
            </div>
            i += 1;
        }
        </div>
    </div>

    @foreach(var project in Model.Projects)
    {
        <div class="projectWindow projectWindowLight">
            <div class="projectWindowHeader headerLight">
                @project.Title
                <div id="closeProjectWindow" class="aaButtonLight closeProjectButton" onclick="closeProjectFullscreen()"><img src="icons/closeLight.svg" /></div>
            </div>
            <div class="projectContentWrapper projectContentWrapperLight textLight">
                <div class="projectContent">
                    <div class="projectContentImages">
                        @foreach(var imageUrl in project.ScreenshotUrls)
                        {
                            <img src="@imageUrl" />
                        }
                    </div>
                    <div class="projectFullDescription textLight">@Html.Raw(project.FullDescription)</div>
                    @if(!string.IsNullOrEmpty(project.WebLink))
                    {
                        <p><span>Project website:</span> <a href="@project.WebLink" target="_blank">@project.WebLink</a></p>
                    }
                    @if(!string.IsNullOrEmpty(project.GitHubLink))
                    {
                        <p><span>Project GitHub link:</span> <a href="@project.GitHubLink" target="_blank">@project.GitHubLink</a></p>
                    }
                </div>
            </div>
        </div>
    }
}