@model WorkAndEducationViewModel

@if(!string.IsNullOrEmpty(ViewData["TryCatchError"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["TryCatchError"]?.ToString()
    </div>
}
else
{
    <div class="listLight">
        <div class="appHeading appHeadingLight">Work & Education History</div>
        <div class="listContainer">
        @foreach(var organisation in @Model.CompaniesAndSchools)
        {
            <div class="textLight listItem">@organisation.Name</div>
        }
        </div>
    </div>

    @foreach(var organisation in @Model.CompaniesAndSchools)
    {
        <partial name="_SelectedOrganisation" model="@organisation" />
    }
}