@using adamaddison.Views.Page
@model CompanyOrSchool

<div class="container-fluid organisationContentGrid">
@if(!string.IsNullOrEmpty(@Model.CompanySummary)) // This is the grid for companies
{
    <div class="row">
        <div class="col-md-12 fromToDateText">
            <div class="infoContainerLight">@Model.Name (@PageHelper.FromToDateString(Model.StartedDate, Model.LeftDate))</div>
        </div>
    </div>

    <div class="row mt-1 gx-1">
        <div class="col-md-6">
            <div class="infoContainerLight companySummaryContainer">@Model.CompanySummary</div>
        </div>
        <div class="col-md-6">

            <div class="row g-1">
                <div class="col-md-12">
                    <div class="infoContainerLight">
                        <img src="@Model.ImageUrls[0]" class="organisationGridImg" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="infoContainerLight">
                        <div class="organisationLocationText organisationLocationTextLight">Work location: @Model.LocationText</div>
                        <div class="organisationGridImgContainer"> <img src="@Model.LocationImageUrl" class="organisationGridImg" /> </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else // This is the grid for schools
{
    <div class="row">
        <div class="col-md-12">
            <div class="infoContainerLight schoolImageContainer">
                <img src="@Model.ImageUrls[0]" class="organisationGridSchoolCoverImg" />
            </div>
        </div>
    </div>

    <div class="row mt-1 gx-1">
        <div class="col-md-6">

            <div class="row g-1">
                <div class="col-md-12">
                    <div class="infoContainerLight fromToDateText">
                        @Model.Name<br />
                        (@PageHelper.FromToDateString(Model.StartedDate, Model.LeftDate))
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="infoContainerLight"><table class="schoolGradeTable schoolGradeTableLight">@Html.Raw(Model.SchoolGradeTable)</table></div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="infoContainerLight">
                        <div class="organisationLocationText organisationLocationTextLight">Campus location: @Model.LocationText</div>
                        <div class="organisationGridImgContainer"> <img src="@Model.LocationImageUrl" class="organisationGridImg" /> </div>
            </div>
        </div>
    </div>
}
</div>